.team-blue-player-button {
    background-color: #434fff;
    color: white;
    padding: 0 50px;
    line-height: 45px;
}

.team-red-player-button {
    background-color: #f2424f;
    color: white;
    padding: 0 50px;
    line-height: 45px;
}

.score-select {
  width: 50px;
}
