<div class="row justify-content-center mt-3">
  <div class="col">
    <div class="row justify-content-center mb-2">
      <mat-card class="col-11 col-lg-6">
        <mat-card-title>
          Team Blue
          <button mat-icon-button class="float-right team-blue-add-button" (click)="openPlayerSelectDialog('blue')">
            <mat-icon>{{bluePlayers.length === 0 ? 'group_add' : 'edit'}}</mat-icon>
          </button>
        </mat-card-title>
        <div class="row justify-content-around mt-4">
          <div class="col text-center" *ngFor="let bluePlayer of bluePlayers">
            <button mat-raised-button class="team-blue-player-button">{{bluePlayer.username}}</button>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="row">
      <div class="col text-center">
        <button mat-icon-button (click)="decreaseBlueScore()">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-form-field class="ml-2 mr-2 score-select">
          <mat-select [(value)]="blueScore">
            <mat-option *ngFor="let score of scores" [value]="score">
              {{score}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="increaseBlueScore()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col text-center">
        <button mat-icon-button (click)="decreaseRedScore()">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <mat-form-field class="ml-2 mr-2 score-select">
          <mat-select [(value)]="redScore">
            <mat-option *ngFor="let score of scores" [value]="score">
              {{score}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="increaseRedScore()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <mat-card class="col-11 col-lg-6">
        <mat-card-title>
          Team Red
          <button mat-icon-button class="float-right team-red-add-button" (click)="openPlayerSelectDialog('red')">
            <mat-icon>{{redPlayers.length === 0 ? 'group_add' : 'edit'}}</mat-icon>
          </button>
        </mat-card-title>
        <div class="row justify-content-around mt-4">
          <div class="col text-center" *ngFor="let redPlayer of redPlayers">
            <button mat-raised-button class="team-red-player-button">{{redPlayer.username}}</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="mt-3 mb-3">
  <button mat-raised-button color="primary" (click)="openPlayerSelectDialog()">
    <mat-icon>casino</mat-icon>
    Random Select
  </button>
  <button mat-raised-button color="primary" class="float-right" [disabled]="!isSubmitNewMatchAllowed()"
          (click)="createNewMatch()">
    Submit
  </button>
</div>

