<mat-nav-list class="list">
  <a mat-list-item [routerLink]="(selectedSpaceId$ | async) +'/dashboard'">
    <mat-icon class="icon">dashboard</mat-icon>
    <span class="label">Dashboard</span>
  </a>
  <a mat-list-item [routerLink]="(selectedSpaceId$ | async) + '/new-match'">
    <mat-icon class="icon">games</mat-icon>
    <span class="label">New Match</span>
  </a>
  <a mat-list-item>
    <mat-icon class="icon">bar_chart</mat-icon>
    <span class="label">Statistiken</span>
  </a>
  <a mat-list-item>
    <mat-icon class="icon">dashboard</mat-icon>
    <span class="label">ELO Simulation</span>
  </a>
  <a mat-list-item>
    <mat-icon class="icon">dashboard</mat-icon>
    <span class="label">Spieler ELO History</span>
  </a>

  <a mat-list-item class="mt-auto" (click)="logoutClicked()">
    <mat-icon class="icon">logout</mat-icon>
    <span class="label">Logout</span>
  </a>
</mat-nav-list>
