:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-left: -16px;
}

.form {
  max-width: 500px;
}

.form-element {
  width: 100%;
}

.button {
  width: 100%;
}
